#elm-mdl-layout-main {
  z-index: 0; /* to enable clicking the elm-reactor's overlay */
}

#app-last-error {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: red;
  padding: 10px;
  width: 100%;
}

.mdl-list__item {
  overflow: visible; /* to enable select dropdowns in lists */
}

.cycles {
  display: flex;
}

.cycles__column {
  padding-right: 10px;
}

.cycles__column__header {
  margin-bottom: 10px;
}

.cycles__column__header__title {
  flex-direction: row;
  padding-bottom: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.cycles__column__header__title__hashtag {
  font-size: 2.5em;
  color: #e0dbdb;
}

.cycles__column__header__title__index {
  font-size: 5em;
  align-self: flex-end;
}

.cycles__column__header__title__description {
  font-size: 1rem;
  color: rgba(0,0,0,.54);
  padding-bottom: 1.1em;
  padding-left: 0.5em;
  align-self: flex-end;
}

.cycles__column__header__text {
  padding-top: 0;

  button {
    width: 100%;
  }
}

.cycles__project-card {
  overflow: visible;

  .mdl-card__title {
    border-bottom: solid 1px #DDD;
  }

  .mdl-card__title-text {
    align-self: center !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
  }
}

.cycles__project-card__content {
    border-bottom: solid 1px #DDD;
}

.cycles__project-card__latest-status {
  display: flex;

  > i {
    margin-right: 10px;
  }
}

.cycles__project-card__add-status-button {
  display: flex;
  flex-direction: row-reverse;

  button {
    margin: 0;
  }
}

.projects .mdl-card {
  width: auto;
}

.assignments-box {
  margin-top: 0.5em;

  .mdl-button {
    min-width: auto;
    padding: 0 8px;
  }
}

.assignments-box__item {
  margin-right: 1em;

  .material-icons {
    vertical-align: middle;
  }
}


